html{

}
body{
	/*background: red;*/
	font-family: 'Indie Flower', cursive;
}


h1{
	/*color: blue;*/
	text-align: center;
	margin: 35px 0 0 0;
}
#f-image{
	margin: 35px 0 0 0;

}
.sita{
	text-align: center;
	
}